<div class="container text-center">
  <h1>About this Site</h1>
  <p>I created this site because I was disappointed and frustrated with 
  the sites teaching yo-yo tricks. Often times the camera work was bad or
  important points were not made and I spent more time trying different
  things to actually learn a trick.</p>
  <p>My hope is to increase the speed and ease that you will be able to 
  learn tricks and allow you to enjoy yo-yoing more and allow you to get 
  better than you otherwise would have.</p>
</div>